* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 2000px;
}

.dark-bg {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9));
}

h1 {
  text-align: center;
  margin-top: 3rem;
}

p {
  width: 70%;
  margin: 2rem auto;
}

.btn {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  height: 40px;
  width: 150px;
}

#modal {
  text-align: center;
  background-color: #fff;
  border: 2px solid black;
  width: 400px;
  padding: 2rem 0rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.display-none {
  display: none;
}

.display {
  display: block;
}